.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pdf-container {
    display: none;
    max-width: 50vw;
}

#pdf-container > canvas {
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#about-button-form {
    padding: 8px;
    position: absolute;
    left:1vw;
    top:7vh;
    border-radius: 8px;
    border-width: 4px;
    border-color: var(--primary-color);
    border-style: outset;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

#about-button-form:hover {
    cursor: pointer;
    background-color: rgb(255, 242, 224);
}